<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="">BookCafe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('view.books')}}">Home</a>
             </li> 
        </ul>
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('view.explore')}}">All Books</a>
             </li> 
        </ul>     

        <ul class="navbar-nav ml-auto">        
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
            </li> 
        </ul>
    {% else %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
            </li>          
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.sign_up')}}">Sign-up</a>
            </li>
        </ul>
    {% endif %}

    <form method="POST" action="" class="d-flex">
        
        <input type ="text" onkeyup='tableSearch()' id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      </div>
    </div>
  </nav>

  